.optin {
  margin-top: 8%;
}
.optin p {
  font-size: 14px;
  font-weight: 100;
  /* margin: 0px;
  padding: 0px 10px; */
}
.optin button {
  color: #fff;
  padding: 6px 22px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px transparent;
  cursor: pointer;
}
.optin button:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.is_open{
  display: none;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#modal p{
  margin: 0px;
  padding: 0px 10px;
}
